<form action="submit" id="addPost">
    <div class="form-group">
        <label for="post-title">title:</label>
        <input type="text" id="title" label="title" name="title">
    </div>
    <div class="form-group">
        <label for="post-description">description</label>
        <input type="text" id="description" label="description" name="description">
    </div>
    <input type="submit" label="Submit" id="submitBtn">
</form>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script src="/js/addPost.js"></script>